.navbar{
    margin-bottom: 15px;
}

.card-text{
    margin-bottom: 5px;
}

#currentCityWeatherCard{
    margin-bottom: 15px;
}

#dayOne, #dayTwo, #dayThree, #dayFour, #dayFive {
    font-size: medium;
}

#dayOneTemp, #dayTwoTemp, #dayThreeTemp, #dayFourTemp, #dayFiveTemp {
    font-size: small;
}

#dayOneHumidity, #dayTwoHumidity, #dayThreeHumidity, #dayFourHumidity, #dayFiveHumidity {
    font-size: small;
}